.footer {
  height: 120px;
  display: grid;
  align-items: center;
  justify-items: left;
  background: #000;
  padding: 0 100px;
}

.footer p {
  color: #a3a3a3;
  font-size: 1.2rem;
}

@media (max-width: 520px){
  .footer p{
    font-size: 0.8rem;
  }
}